html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    color: #fff;
    background-color: #11141b;
}
body.active {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 108vh;
    position: relative;
}
.svg {
    stroke: #e2b361;
}
.container {
    padding: 50px 100px;
    background-color: #11141b;
}
/* Header */

.link--flex {
    display: flex;
    align-items: center;
}
.header__heart {
    margin-right: 5px;
    vertical-align: bottom;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #11141b;
    padding: 20px 100px;
    position: relative;
}
.header__logo {
    margin-right: 10px;
    height: 40px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.header-catalog{
    display: flex;
    align-items: center;
}
.header__input{
    border: 2px solid #e2b361;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 30px 0 15px;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    box-sizing: border-box;
}
.header-input {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    height: 35px;
    background-color: #fff;
    border-radius: 8px;
}
.header-input.adaptive,
.header-input.mobile {
    display: none;
}
.header__search {
    height: 35px;  
    stroke: #fff;
}
.header-input__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #e2b361;
    box-sizing: border-box;
    height: 100%;
    border: none;
    border-radius: 8px 0px 0px 8px;
    transition: all ease .3s;
}
.header-input__btn:hover {
    background-color: #e1a233;
}
.header__link {
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
    transition: all ease .3s;
}
.header__link.active {
    color: #e2b361;
}
.header__link:hover {
    color: #e2b361;
}
.header__link:last-child{
    margin-right: 0;
}
.header__btn {
    color: #e2b361;
    padding: 0 20px;
    background-color: transparent;
    border: 2px solid #e2b361;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all ease .3s;
}
.header__btn:hover {
    background-color: #e2b361;
}
.header-input__close {
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.burger {
    height: 35px;
    width: 35px;
    border: 2px solid #e2b361;
    cursor: pointer;
    position: relative;
    display: none;
    align-items: center;
    border-radius: 4px;
}
.burger-menu {
    background-color: rgba(0,0,0, .9);
    position: absolute;
    left: -100%;
    top: 76px;
    width: 100%;
    height: 100vh;
    transition: all ease .3s;
    z-index: 30;
}
.burger-menu.active {
    left: 0;
}
.burger-menu-content {
    padding: 20px;
    width: 50%;
    height: 100vh;
    background-color: #090c13;
    display: flex;
    flex-direction: column;
}
.burger-menu-link {
    margin-bottom: 20px;
}
.burger-menu-social-wrapper {
    display: flex;
    align-items: center;
}
.burger-menu-social {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.burger__line {
    display: inline-block;
    width: 80%;
    height: 3px;
    background-color: #fff;
    margin-left: 3px;
}
.burger__line::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 4px;
    width: 80%;
    height: 3px;
    background-color: #fff;
}
.burger__line::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 3px;
    bottom: 4px;
    width: 80%;
    height: 3px;
    background-color: #fff;
}
.burger.active .burger__line {
    height: 0;
}
.burger.active .burger__line::after {
    transform: rotate(45deg);
    top: 45%;
}
.burger.active .burger__line::before {
    transform: rotate(-45deg);
    top: 45%;
}


/* Slider */

.slider__btn {
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    z-index: 1;
    transition: all ease .3s;
}
.slider__btn:hover {
    stroke: #e1a233;
}
.btn--left {
    left: -60px;
}
.btn--right {
    transform: rotate(180deg);
    right: -60px;
}
.slider {
    position: relative;
    background-color: inherit;
}
.slider__svg {
    margin-right: 5px;
    height: 39px;
}
.slider-header {
    background-color:#090c13;
    padding: 50px 100px;
}
.slider-title {
    margin-bottom: 30px;
}
.slider__title {
    display: flex;
    align-items: center;
    font-size: 30px;
}
.slider-content {
    position: relative;
}
.slider-wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
}
.slider__item {
    height: 355px;
    width: 200px;
    /* margin-right: 40px; */
    margin-right: 51px;
    position: relative;
    transition: all ease .8s;
}
.slider__item.home--slide {
    width: 100%;
}
.slider-item__img.home--img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider__item:last-child {
    margin-right: 0;
}
.slider-item__img {
    height: 300px;
}
.slider-item__name {
    color: #fff;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 5px;
}
.slider-item__year {
    color: rgba(255,255,255,.6);
}

/* Post */

.grid-rows {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
.star-svg {
    vertical-align: text-bottom;
}
.post__img {
    width: 100%;
}
.post-about{
    margin-bottom: 10px;
}
.loading-post {
    margin-top: 50px;
}
.post-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin-bottom: 50px;
}
.post-aside{
    display: flex;
    flex-direction: column;
}
.post-kinopoisk {
    margin: 30px 0;
}
.post__kinopoisk {
    cursor: pointer;
    color: #e2b361;
    border: 1px solid #e2b361;
    background-color: inherit;
    outline: none;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px;
    transition: all ease .3s;
}
.post__kinopoisk:hover {
    background-color: #e2b361;
    color: #000;
}
.post__name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post__original-name {
    font-size: 20px;
}
.post-name {
    margin-bottom: 10px;
}
.post__bg-img {
    display: none;
}
.post-favourites {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.post-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.post__raiting {
    margin-right: 10px;
    font-size: 20px;
}
.post__rating-number {
    font-size: 20px;
}
.post__subtitle {
    margin: 20px 0 10px 0;
    font-size: 30px;
}
.post__subtitle-desc {
    margin: 0px 0 20px 0;
    font-size: 30px;
}
.post__text {
    font-size: 16px;
}
.post__slogan {
    line-height: 1.5;
}
.post-subtext {
    display: flex;
    flex-wrap: wrap;
}
.post__subtext {
    margin-right: 10px;
}
.post__subtext::after {
    content: ',';
}
.post__subtext:last-child {
    margin-right: 0;
}
.post__subtext:last-child::after {
    content: '';
}
.post__text:last-child {
    margin-bottom: 20px;
}
.post_short-desc {
    margin-bottom: 10px;
}
.post__short-desc {
    font-size: 16px;
    line-height: 1.5;
}
.post__desc {
    line-height: 1.5;
    font-size: 18px;
}
.post-image {

}
.post-image-content {
    display: flex;
    flex-wrap: wrap;
}
.post-image-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.post-image__img {
    height: 250px;
    width: 25%;
    object-fit: cover;
    cursor: zoom-in;
}
.post-image__title {
    font-size: 30px;
}
.post-image__show-more {
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 1px solid #e2b361;
    box-sizing: border-box;
    background-color: inherit;
    color: #fff;
    border-radius: 6px;
    transition: all ease .3s;
}
.post-image__show-more:hover {
    background-color: #e2b361;
    color: #000;
}

.post-big-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
    height: 100%;
    width: 100%;
    z-index: 33;
}
.post-big-img-content {
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.post-big-img-close {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.post-big-img__close {
    height: 50px;
    cursor: pointer;
    stroke: #e1a233;
    transition: all ease .3s;
}
.post-big-img__close:hover {
    stroke: #e2b361;
}
.post-big-img__img {
    max-height: 600px;
    display: block;
    margin: auto;
    max-width: 1000px;
}
.post-big-img-change {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.post-big-img__current-text {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}
.post-big-img__btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 6px;
    color: #000;
    background-color: #e1a233;
    padding: 5px 10px;
    transition: all ease .3s;
}
.post-big-img__btn:hover {
    background-color: #e2b361;
}

/* similars */

.similars {
    
}
.similars__title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.similars-content {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Footer */

.footer {
    margin-top: auto;
    background-color: #090c13;
    padding: 20px 100px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social {
    display: flex;
    align-items: center;
}
.footer__github {
    height: 45px;
    transition: all ease .3s;
}
.footer__headhunter {
    color: #e2b361;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e2b361;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all ease .3s;
}
.footer__git-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__author {
    font-size: 20px;
}
.footer__headhunter:hover {
    color: #e1a233;
    border-color: #e1a233;
}
.footer__github:hover {
    stroke: #e1a233;
}
/* List */

.list {

}
.list-title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 50px;
}
.list__title {
    font-size: 30px;
}
.list-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* ListItem */

.list-item__hr {
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #e2b361;
    width: 100%;
}
.list-item {
    display: flex;
    transition: all ease .3s;
}
.list-item:hover {
    background-color: #090c13;
}
.list-item__link-img {
    width: 90px;
}
.list-item__img {
    display: block;
    height: 100%;
    width: 100%;
}
.list-item-content {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 1fr 1fr;
}
.list-item-info {
    display: inline-block;
}
.list-item__subtext::after {
    content: ', ';
}
.list-item__subtext:last-child::after {
    content: '';
}
.list-item__number {
    text-align: center;
}
.list-item__title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.list-item__text {
    color: #fff;
}
.list-item__desctext {
    color: rgba(255,255,255,.6);
    margin-top: 10px;
}
.list-item-favourites {
    display: flex;
    justify-content: end;
}
/* page */

.page {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.page-desc {
    display: flex;
    align-items: center;
}
.page-paginate {
    display: none;
}
.page__number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 2px solid #e2b361;
    cursor: pointer;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
}
.page__number.active {
    font-weight: bold;
    color: #e2b361;
}
.page__number:last-child {
    margin-right: 0;
}

/* TOP 250 */

.top__trophy {
    height: 40px;
    vertical-align: middle;
}

/* Filter */

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.filter-select {
    height: 50px;
    width: 350px;
    background-color: #090c13;
    position: relative;
    z-index: 1;
}
.filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    cursor: pointer;
}
.filter-select__title {
    font-size: 20px;
}
.filter-select-options {
    background-color: #090c13;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 300px;
    box-sizing: border-box;
}
.filter-select-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    transition: all ease .3s;
}
.filter-select-option:hover {
    background-color: #1f2023;
}
.filter-select__option-text {
    font-size: 18px;
}
.filter-categoty {
    display: flex;
    width: 320px;
    justify-content: space-between;
}
.filter-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}
.filter__btn {
    outline: none;
    border: 1px solid #e2b361;
    box-sizing: border-box;
    border-radius: 6px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    background-color: #11141b;
    color: #fff;
    transition: all ease .3s;
}
.filter__btn:hover {
    background-color: #090c13;
}
.btn-search {
    background-color: #e2b361;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-search:hover {
    background-color: #e1a233;
}

/* Home */ 

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.home__title {
    font-size: 40px;
    margin-right: 10px;
}
.home__title-films {
    font-size: 40px;
}
.home__btn-show {
    background-color: #e2b361;
    color: #000;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 20px;
    transition: all ease .3s;
}
.home__btn-show:hover {
    background-color: #e1a233;
}
.home-content{
    display: grid;
    grid-template-columns: repeat(5, 237px);
    grid-row-gap: 75px;
    justify-content: space-between;
}
.home-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.home__btn-more {
    cursor: pointer;
    margin: 0 20px;
    color: #e2b361;
    border: 1px solid #e2b361;
    background-color: inherit;
    outline: none;
    height: 50px;
    width: 450px;
    border-radius: 30px;
    font-size: 20px;
    box-sizing: border-box;
    transition: all ease .3s;
}
.home__btn-more:hover {
    background-color: #e2b361;
    color: #000;
}
.loader {
    height: 50px;
    animation: loading 3s infinite linear;
}
.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);

    }
}
.margin-top {
    margin-top: 50px;
}
/* Checkbox */

.checkbox {
    display: flex;
    align-items: center;
}
.checkbox-real {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    z-index: -9999;
}
.checkbox-real:checked + .checkbox-fake {
    background-color: #e2b361;
}
.checkbox-real:checked + .checkbox-fake::after {
    opacity: 1;
}
.checkbox-fake {
    display: inline-block;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid #e2b361;
    background-color: #090c13;
}
.checkbox-fake::after {
    content: '';
    background-image: url('../src/img/check.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
    opacity: 0;
}
.checkbox-text {
    cursor: pointer;
    font-size: 18px;
}

/* Range */

.range {
    width: 200px;
}
.range__input {
    width: 100%;
    margin-bottom: 20px;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.range__input::-webkit-slider-runnable-track {
    margin-top: -1px;
    height: 12px;
    border-radius: 10px/100%;
	border: 1px solid #e2b361;
    background-color: #fff;
}
.range__input::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #e1a233;
    margin-top: -5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}
.range__title {
    margin-bottom: 15px;
    font-size: 20px;
}
.range-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.range-content-wrapper {
    position: relative;
}
.range__input-number {
    width: 90px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e2b361;
    background-color: #11141b;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 0 10px 0 35px;
}
.range__input-subtext {
    color: #e4e4e4;
    position: absolute;
    top: 33%;
    left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Favourites */

.favourites-header {
    
}
.favourites__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
.favourites__subtitle {
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,.6);
    margin-bottom: 10px;
}
.favourites__subtitle:last-child {
    margin-bottom: 0;
}
.favourites__heart {
    vertical-align: middle;
}
.add-favourites {
    display: flex;
    align-items: center;
}
.add-favourites__heart {
    margin-right: 5px;
    cursor: pointer;
}
.add-favourites__heart.active {
    fill: #e2b361;
}
.add-favourites__text {
    cursor: pointer;
    font-size: 20px;
}
.favourites__text {
    font-size: 30px;
}
.favourites__btn {
    background-color: #e2b361;
    color: #000;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 20px;
    transition: all ease .3s;
}
.favourites__btn:hover {
    background-color: #e1a233;
}
.favourites__btn:last-child {
    margin-left: 15px;
}
.favourites-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.favourites-btn-group {
    display: flex;
    align-items: center;
}

/* about */

.about__text {
    font-size: 20px;
    margin-bottom: 20px;
}
.about__text:last-child, .about-list__item:last-child {
    margin-bottom: 0;
}
.about-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.about-list__item {
    margin-bottom: 10px;
    font-size: 18px;
}
.about__link {
    text-decoration: underline;
    color: #0090ff;
    transition: all ease .3s;
}
.about__link:hover {
    color: #6ec0ff
}
.middle {
    vertical-align: middle;
}
.css {
    stroke: #0090ff;
}
.map {
    stroke: #ff0047;
}



@media (max-width: 1440px) {
    .filter {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "list checkbox buttons"
        "years rating rating";
    }
    .filter-select {
        grid-area: list;
        width: 400px;
    }
    .filter-categoty {
        grid-area: checkbox;
        width: 380px;
    }
    .filter-btn-group {
        grid-area: buttons;
        width: 300px;
    }
    #rating {
        grid-area: rating;
    }
    #years {
        grid-area: years;
    }
    .range {
        width: 235px;
    }
    .post-image__img {
        width: 33%;
    }
    .header {
        padding: 20px 50px;
    }
    .header__link {
        margin-right: 25px;
    }
    .container {
        padding: 50px;
    }
    .footer {
        padding: 20px 50px;
    }
    .slider-header {
        padding: 50px;
    }
    .slider__btn {
        top: -60px;
    }
    .btn--right {
        right: 20px;
    }
    .btn--left {
        left: 1210px;
    }
    .home-content {
        grid-template-columns: repeat(5, 213px);
    }
    .home-title {
        margin-bottom: 0;
    }
    .home {
        margin-top: 50px;
    }
    .slider-item__img.home--img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .filter-select {
        width: 300px;
    }
    .filter-categoty {
        width: 300px;
    }
    .filter-btn-group {
        width: 260px;
    }
    .header,
    .footer {
        padding: 20px;
    }
    .home-content {
        grid-template-columns: repeat(4, 213px);
    }
    .logo {
        font-size: 25px;
    }
    .header__link {
        margin-right: 15px;
        font-size: 17px;
    }
    .header__logo {
        height: 30px;
    }
    .header-input {
        width: 350px;
    }
    .header__input {
        font-size: 15px;
    }
    .slider-header,
    .container {
        padding: 20px;
    }
    .list-nav,
    .list-title,
    .favourites-title {
        margin-bottom: 35px;
    }
    .post-wrapper {
        grid-column-gap: 50px;
        margin-bottom: 35px;
    }
    .slider__btn {
        top: -60px;
    }
    .btn--right {
        right: 20px;
    }
    .btn--left {
        left: 860px;
    }
}

@media (max-width: 768px) {
    .header-input.adaptive {
        display: flex;
    }
    .burger {
        display: flex;
    }
    .header-catalog {
        display: none;
    }
    .home-content {
        grid-template-columns: repeat(3, 213px);
    }
    .post-wrapper {
        display: flex;
        flex-direction: column;
    }
    .post-image__img {
        width: 50%;
    }
    .post__img {
        object-fit: contain;
        width: 350px;
        display: block;
        margin: auto;
    }
    .post-aside {
        position: relative;
        z-index: 1;
    }
    .btn--left {
        left: 600px;
    }
    .home__title-films {
        font-size: 34px;
    }
    .home__btn-show  {
        font-size: 16px;
    }
    .home-btn-group {
        margin-top: 75px;
    }
    .filter {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "list checkbox checkbox"
            "years rating rating"
            "buttons buttons buttons";
    }
    .home {
        margin-top: 20px;
    }
    .post__bg-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
        filter: blur(17px);
    }
    .post-big-img__img {
        max-width: 550px;
    }
    .list__title {
        font-size: 24px;
    }
    .favourites__btn {
        font-size: 16px;
        padding: 8px 16px;
    }
    .top__trophy {
        height: 30px;
    }
    .list-item__title,
    .add-favourites__text {
        font-size: 18px;
    }
    .list-item__desctext {
        font-size: 14px;
    }
}


@media (max-width: 425px) {
    .page-paginate {
        display: flex;
    }
    .slider__btn {
        height: 32px;
    }
    .slider__svg {
        height: 30px;
    }
    .slider__title {
        font-size: 18px;
    }
    .btn--left {
        left: 280px;
    }
    .home-content {
        grid-template-columns: repeat(2, 180px);
    }
    .home__title-films {
        font-size: 27px;
    }
    .home-title {
        flex-wrap: wrap;
        margin-bottom: 35px;
    }
    .home-btn-show {
        margin: auto;
        margin-top: 20px;
    }
    .filter {
        margin-top: 20px;
        grid-template-rows: 70px 70px 150px 150px 70px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "list list list"
            "checkbox checkbox checkbox "
            "years years years"
            "rating rating rating"
            "buttons buttons buttons";
            margin-bottom: 0;
    }
    .filter-select {
        width: 100%;
    }
    .filter-categoty {
        width: 100%;
    }
    .range {
        width: 100%;
    }
    .filter-btn-group {
        width: 100%;
    }
    .home__btn-more {
        min-width: 165px;
    }
    .header-input.adaptive {
        display:none
    }
    .burger-menu-content {
        width: 70%;
    }
    .burger-menu-social {
        flex-wrap: wrap;
    }
    .burger-menu-social-wrapper {
        margin-top: 10px;
    }
    .about-list__item {
        line-height: 1.5;
    }
    .list__title {
        text-align: center;
        font-size: 27px;
    }
    .list-title {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .favourites-btn-group {
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }
    .list-item-content {
        grid-template-columns: 50px 1fr;
    }
    .add-favourites.mobile {
        display: none;
    }
    .post-big-img__img {
        max-width: 380px;
    }
    .header-input.mobile {
        display: flex;
    }
    .header-input {
        width: 100%;
    }
    .list-nav {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .list-item {
        position: relative;
    }
    .list-item__text {
        display: none;
    }
    .grid-rows {
        grid-template-rows: 1fr;
        margin-bottom: 20px;
        grid-template-columns: 160px 1fr;
    }
    .favourites-title {
        flex-wrap: wrap;
    }
    .add-favourites__text.adaptive {
        display: none;
    }
    .add-favourites__heart.adaptive {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .page-desc {
        display: none;
    }
}
